HF_TOKEN=
HF_SENTIMENT_MODEL=distilbert/distilbert-base-uncased-finetuned-sst-2-english
HF_NER_MODEL=dslim/bert-base-NER
HF_SARCASM_MODEL=helinivan/english-sarcasm-detector
HF_ABUSE_MODEL=unitary/toxic-bert
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_SERVER=localhost
SQLSERVER_DATABASE=TextAnalysisDb
SQLSERVER_TRUSTED_CONNECTION=true
SQLSERVER_USERNAME=
SQLSERVER_PASSWORD=
SQLSERVER_TRUST_SERVER_CERTIFICATE=true
